.car-sell-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color:white;
}

.car-sell-form label {
  margin-bottom: 10px;
}

.car-sell-form input,
.car-sell-form select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.car-sell-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.car-sell-form button:hover {
  background-color: #0056b3;
}
body{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../public//Screenshot\ \(157\).png") no-repeat center/cover;
}
h1{
  text-align:center;

}
form{
  background-color:rgb(0, 0, 0,0.5);
  border-radius:25px;
}